asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
dateparser==1.1.1
distlib==0.3.4
dj-database-url==0.5.0
Django==4.0.3
django-crispy-forms==1.14.0
django-heroku==0.3.1
dnspython==2.2.1
filelock==3.6.0
gunicorn==20.1.0
idna==3.3
mysql-connector-python==8.0.28
mysqlclient==2.1.0
Pillow==9.1.0
platformdirs==2.5.1
pony==0.7.16
psycopg2==2.9.3
pymongo==4.0.2
pyTelegramBotAPI==4.4.0
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
regex==2022.3.2
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
timeout-decorator==0.5.0
tzdata==2022.1
tzlocal==4.1
urllib3==1.26.9
virtualenv==20.14.0
whitenoise==6.0.0
